<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhypayaso.tittytainment.dao.MovieLanguageMapper">
  <resultMap id="BaseResultMap" type="com.fhypayaso.tittytainment.pojo.entity.MovieLanguage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="movie_id" jdbcType="BIGINT" property="movieId" />
    <result column="movie_douban_id" jdbcType="BIGINT" property="movieDoubanId" />
    <result column="language_id" jdbcType="BIGINT" property="languageId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ttmt_movie_language
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteAll">
    delete from ttmt_movie_language
  </delete>


  <insert id="insert" parameterType="com.fhypayaso.tittytainment.pojo.entity.MovieLanguage">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ttmt_movie_language (movie_id, movie_douban_id, language_id, 
      created_time, updated_time)
    values (#{movieId,jdbcType=BIGINT}, #{movieDoubanId,jdbcType=BIGINT}, #{languageId,jdbcType=BIGINT}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fhypayaso.tittytainment.pojo.entity.MovieLanguage">
    update ttmt_movie_language
    set movie_id = #{movieId,jdbcType=BIGINT},
      movie_douban_id = #{movieDoubanId,jdbcType=BIGINT},
      language_id = #{languageId,jdbcType=BIGINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, movie_id, movie_douban_id, language_id, created_time, updated_time
    from ttmt_movie_language
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, movie_id, movie_douban_id, language_id, created_time, updated_time
    from ttmt_movie_language
  </select>
</mapper>