<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhypayaso.tittytainment.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.fhypayaso.tittytainment.pojo.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="cover_url" jdbcType="VARCHAR" property="coverUrl" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ttmt_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fhypayaso.tittytainment.pojo.entity.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ttmt_user (phone, `password`, `name`, 
      cover_url, `status`, created_time, 
      updated_time)
    values (#{phone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{coverUrl,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fhypayaso.tittytainment.pojo.entity.User">
    update ttmt_user
    set phone = #{phone,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      cover_url = #{coverUrl,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, phone, `password`, `name`, cover_url, `status`, created_time, updated_time
    from ttmt_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, phone, `password`, `name`, cover_url, `status`, created_time, updated_time
    from ttmt_user
    where  phone = #{phone,jdbcType=VARCHAR}
  </select>


  <select id="selectAll" resultMap="BaseResultMap">
    select id, phone, `password`, `name`, cover_url, `status`, created_time, updated_time
    from ttmt_user
  </select>
</mapper>